/**
 * Defaults
 */

// http://www.modularscale.com/?16&px&1.25
$modularscale: (
  base: 20px,
  ratio: 1.25
) !default;

$type-scale: 1.25 !default; // deprecated

$type: (
	xs: ms(-2),
	s: ms(-1),
	base: ms(0), // [default] p, h5, h6
	m: ms(1), // h4
	l: ms(2), // h3
	xl: ms(3), // h2
	xxl: ms(4) // h1
) !default;

$font-family: (
	system: #{-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans"},
	sans: #{"Helvetica Neue", Helvetica, Arial, sans-serif},
	serif: #{Georgia, "Times New Roman", Times, serif},
	mono: #{Menlo, Monaco, "Courier New", monospace}
) !default;

$z-index: (
	low: 10,
	mid: 100,
	high: 1000
) !default;
