/**
 * Usage:
 *
 * ko-getVal(100, $map) - uses an integer
 * ko-getVal(mid, $map) - uses a Sass map
 * ko-getVal($foo, $map) - uses a Sass variable
 */

@function ko-getValue($val, $map: '') {
	@if type-of($val) == 'number' {
		@return $val;
	} @else if variable-exists($val) {
		@return $val;
	} @else {
		@return map-get($map, $val);
	}
}


/**
 * Get breakpoints
 *
 * ko-bp()
 *
 * Usage:
 * ko-bp(100) - uses an integer
 * ko-bp(mid) - uses the $breakpoints Sass map
 * ko-bp($foo) - uses a Sass variable
 */
@function ko-bp($val) {
	@return getValue($val, $breakpoints);
}


/**
 * Get type size
 *
 * ko-type()
 *
 * Usage:
 * ko-type(100) - uses an integer
 * ko-type(mid) - uses the $type Sass map
 * ko-type($foo) - uses a Sass variable
 */
@function ko-type($val) {
	@return getValue($val, $type);
}
