/**
 * Multiply
 * =================
 * Multiply any value
 *
 * Usage:
 * ko-multiply(15, 2)
 * ko-multiply($baseline, 1.5)
 */
@function ko-multiply($initial, $multiply) {
	@return $multiply * $initial;
}
