/**
 * Strip units
 * =================================
 * Remove the unit of a measurement
 *
 * Usage:
 * ko-strip-units(400px)  > 400
 */

@function ko-strip-units($val) {
	$newVal: 0;
	@if $val == null {
		$newVal: 0;
	} @else {
		$newVal: $val;
	}
	@return ($newVal / ($newVal * 0 + 1));
}
