/// @group units
/**
 * Dimensions-based mixins
 * - REM calculation
 * - Typography mixins based on the REM mixin
 *   - font-size
 *   - line-height
 *   - font-size-ems
 */

// REM
// @include ko-rem(margin, $font-size-base);
@mixin ko-rem($property, $sizeValue: $font-size-base) {
	$remValue: (ko-strip-units($sizeValue) / $font-size-base);
	// #{$property}: ceil($sizeValue) + px;
	#{$property}: #{$remValue}rem;
}


/**
 * Typography mixins
 */

// REM font size
// @include ko-font-size(16);
// @include ko-font-size(large);
// @include ko-font-size($type-jumbo);
@mixin ko-font-size($sizeValue: $font-size-base) {
	$type: () !default;
	// @debug $sizeValue;
	@include ko-rem(font-size, ko-getValue($sizeValue, $type));
}


// REM line height
// @include ko-line-height(16);
@mixin ko-line-height($sizeValue: $line-height-base) {
	@include ko-rem(line-height, $sizeValue);
}


// EM font size
// @include ko-font-size-ems(20, 16);
@mixin ko-font-size-ems($target-px-size, $context-px-size: $font-size-base) {
	font-size: ($target-px-size / $context-px-size) * 1em;
}
