/**
 * vertical-center
 * Vertically center any element. Needs support for CSS tranforms.
 * Usage:
 * @include ko-vertical-center;
 */
@mixin ko-vertical-center {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}
